@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"),
    url("Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe/Circe-Regular.woff2") format("woff2"),
    url("../fonts/Circe/Circe-Regular.woff") format("woff"),
    url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"),
    url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Circe/Circe-Bold.woff2") format("woff2"),
    url("../fonts/Circe/Circe-Bold.woff") format("woff"),
    url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__wrapper {
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 1460px;
  margin: 0 15px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Circe";
}

.header__logo {
  width: 100%;
  max-width: 216px;
}

.header__connection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.header__call {
  color: #ffffff;
}

.call-decoration {
  color: #d6af76;
}

.header__callback {
  margin-left: 39px;
  max-width: 218px;
  height: 50px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
}

.callback {
  color: #e4b564;
  margin-left: 10px;
}

.outdoor__wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 0 15px;
  background-color: #0e0e0e;
  background-image: url("../images/header");
  background-image: url(".");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.outdoor {
  width: 100%;
  max-width: 1460px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 173px repeat(2, 29.25rem);
  grid-template-areas:
    "outdoor outdoor outdoor outdoor outdoor outdoor"
    "earth earth underground underground chennel chennel"
    "support support support welll welll welll";
}

.outdoor__description {
  max-width: 1460px;
  grid-area: outdoor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.earthwork {
  background-color: #634f2c;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: earth;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underground {
  background-color: #b4a385;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: underground;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chennel {
  background-color: #e4b564;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: chennel;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-fixed {
  background-color: #635a4a;
  background-position: 50% 50%;
  background-size: 100% auto;
  grid-area: support;
  display: flex;
  justify-content: center;
  align-items: center;
}

.well {
  background-color: #b08c4d;
  background-position: 50% 50%;
  background-size: 100% auto;
  grid-area: welll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.subtitle {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.fleet__wrapper {
  width: 100%;
  max-width: 1920px;
  padding: 70px 15px 20px 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #171717;
}

.fleet {
  width: 100%;
  max-width: 1460px;
  font-family: "Gilam";
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(7, 125.1px);
  grid-template-areas:
    "fleet fleet fleet"
    "silt chennelcar backhoe"
    "silt chennelcar backhoe"
    "silt chennelcar loadertruck"
    "loader chennelcar loadertruck"
    "loader excavator loadertruck"
    "loader excavator rink"
    "loader excavator rink";
}

.fleet__description {
  grid-area: fleet;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  margin-bottom: 74px;
}

.silt__car {
  background-color: #0e0e0e;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: silt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.silt__car-description {
  font-weight: 700;
}

.chennel__car {
  background-color: #242424;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: chennelcar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chennel__car-description {
  font-weight: 700;
}

.backhoe-loader {
  background-color: #1f1f1f;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: backhoe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background-color: #1f1f1f;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: loader;
  display: flex;
  justify-content: center;
  align-items: center;
}

.excavator {
  background-color: #e4b564;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: excavator;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-truck {
  background-color: #0e0e0e;
  background-position: 50% 50%;
  background-size: auto 100%;
  grid-area: loadertruck;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rink {
  background-color: #0a0909;
  background-position: 50% 50%;
  background-size: 100% auto;
  grid-area: rink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__wrapper {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0e0e;
  background-image: url("../images/parallax-bg.jpeg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.patners {
  width: 100%;
  max-width: 1460px;
  padding: 50px 15px 20px 15px;
  font-family: "Gilam";
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(2, 391px);
  grid-template-areas:
    "partners partners partners"
    "eid mavis estate"
    "estate2 set eid2";
}

.partners__description {
  grid-area: partners;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  margin-bottom: 74px;
}

.all-projects {
  margin-left: 39px;
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.eid {
  background: rgba(99, 79, 44, 0.76);
  grid-area: eid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mavis {
  background: rgba(232, 210, 171, 0.76);
  grid-area: mavis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mavis-logo__wrapper img:first-of-type {
  width: 100%;
  max-width: 60px;
}

.mavis-logo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mavis-description {
  text-align: center;
  width: 326px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.adress-description {
  width: 300px;
  font-weight: 400;
  text-align: center;
}

.real-estate {
  background: rgba(228, 181, 100, 0.76);
  grid-area: estate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.real-estate2 {
  background: rgba(228, 181, 100, 0.76);
  grid-area: estate2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-group {
  background: rgba(176, 140, 77, 0.76);
  grid-area: set;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eid2 {
  background: rgba(99, 79, 44, 0.76);
  grid-area: eid2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 1920px;
  min-height: 150px;
  background-color: #171717;
}
